body {
	--instagram-color: #50b7f5;
	--instagram-background: #f7f5f5;
}

.App {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: var(--instagram-background);
	/* color: gray; */
}

.app_body {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	/* margin: 35px 0 20px 20px; */
	height: 100vh;
	padding: 10px;

	/* min-height: 100vh; */
}
